<!DOCTYPE html>
<html>
	<head>
	  <title>TrupeMoney</title>
	  <%= csrf_meta_tags %>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag  "application" %>
    <%= yield :stylesheet %>
	</head>

	<body>
		<div id="wrapper">
	    <div class="header-menu">
	      <%= render :partial => 'shared/menu' %>
	    </div>

			<%= yield %>
		</div>
		<!-- wrapper -->
		<%= javascript_include_tag "application.js" %>
    <%= yield :javascript %>
	</body>
</html>
